.grid {
	display: grid;
	grid-template-columns: 425px 1fr;
}

.scrollview {
  &::-webkit-scrollbar {
    width: 6px;
    position: absolute;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--md-color-outline-2) 85%, transparent);
    border-radius: 20px;
  }
}

@media screen and (max-width: 992px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
